/* 
CMS.css builds on top of Boostrap v3, and adds specific styles that help Convergence features such as Itemlists, Product Lists and Slideshows display in lists and grids. We call our Convergence Boilerplate "MuCSSle". To customize these styles, simply tweak them in your local "style.css" stylesheet. You can also turn Mucssle off in the Account features on your website.

This stylesheet is run on LESS. Not familiar with LESS? Learn more about the Dynamic Stylesheet Language here: http://lesscss.org/ and learn about the compiler here: http://incident57.com/less/
*/
.left {
  float: left;
  display: inline;
}
.right {
  float: right;
  display: inline;
}
.cl {
  clear: both;
  display: block;
  height: 0;
  font-size: 10px;
  overflow: hidden;
  line-height: 0;
}
.notext {
  font-size: 0px;
  overflow: hidden;
  line-height: 0;
  text-indent: -4000px;
  color: #fff;
}
/* Typekit de-flashing */.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading a,
.wf-loading li,
.wf-loading li a,
.wf-loading td,
.wf-loading th,
.wf-loading span,
.wf-loading input,
.wf-loading label,
.wf-loading button,
.wf-loading .display-fields {
  visibility: hidden;
}
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active a,
.wf-active li,
.wf-active li a,
.wf-active td,
.wf-active th,
.wf-active span,
.wf-active input,
.wf-active label,
.wf-active button,
.wf-active .display-fields {
  visibility: visible;
}
/* adds bootstrap img-responsive code to imgs */
img {
  max-width: 100%;
  height: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.alpha {
  padding-left: 0;
}
.omega {
  padding-right: 0;
}
.alpha.omega {
  padding-left: 0;
  padding-right: 0;
}
/* GLOBAL TYPOGRAPHY 
///////////////////////////////////////////////////////////////////////////////// */
body {
  font-size: 18px;
  /* We feel 18px is a better base font size, and all of our typography rules will be based on this size */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
  line-height: 1.125em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
  line-height: 1;
  font-size: 0.5em;
}
h1 {
  font-size: 2.75em;
  padding: 0 0 .42em;
}
h2 {
  font-size: 2.25em;
  padding: .5em 0;
}
h3 {
  font-size: 1.75em;
  padding: .5em 0;
}
h4 {
  font-size: 1.25em;
  padding: .5em 0;
}
h5 {
  font-size: 1em;
  padding: .25em 0;
}
h6 {
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: .28em 0;
}
p {
  line-height: 1.6em;
  padding: 0 0 1.4em;
}
/* GENERIC DISPLAY ITEMS (PRODUCTS, CATEGORIES, ITEMS, USERS) 
///////////////////////////////////////////////////////////////////////////////// */
.display-image {
  max-width: 100%;
}
.display-item img {
  max-width: 100%;
}
.display-stack .display-item {
  margin: 0 0 4.651% 0;
  float: none;
  width: 100%;
}
.display-grid .display-item {
  margin: 0 4.651% 4.651% 0;
  float: left;
  width: 30.23266666666667%;
}
.display-grid .display-item .display-fields {
  margin-top: 5px;
}
.display-grid .display-item .field-name {
  font-size: 1.3em;
}
.display-grid .display-item:nth-child(3n) {
  margin-right: 0;
}
.display-grid .display-item:nth-child(3n+1) {
  clear: both;
}
.display-grid.single-item .display-item,
.display-grid.display-gridcols-1 .display-item {
  margin: 0 0 4.651%;
  float: none;
  width: auto;
}
.display-grid.display-gridcols-2 .display-item {
  width: 47.6745%;
}
.display-grid.display-gridcols-2 .display-item:nth-child(3n) {
  margin-right: 4.651%;
}
.display-grid.display-gridcols-2 .display-item:nth-child(3n+1) {
  clear: none;
}
.display-grid.display-gridcols-2 .display-item:nth-child(2n) {
  margin-right: 0;
}
.display-grid.display-gridcols-2 .display-item:nth-child(2n+1) {
  clear: both;
}
.display-grid.display-gridcols-3 .display-item {
  width: 30.23266666666667%;
}
.display-grid.display-gridcols-4 .display-item {
  width: 21.51175%;
}
.display-grid.display-gridcols-4 .display-item:nth-child(3n) {
  margin-right: 4.651%;
}
.display-grid.display-gridcols-4 .display-item:nth-child(3n+1) {
  clear: none;
}
.display-grid.display-gridcols-4 .display-item:nth-child(4n) {
  margin-right: 0;
}
.display-grid.display-gridcols-4 .display-item:nth-child(4n+1) {
  clear: both;
}
.display-first-in-row {
  clear: both!important;
}
.display-last-in-row {
  margin-right: 0px!important;
}
.display-list {
  *zoom: 1;
}
.display-list .display-item {
  float: none;
  clear: both;
  height: auto;
  margin: 0 0 9.302%;
  padding: 0 0 9.302%;
  border: solid 1px #cccccc;
  border-width: 0 0 1px;
  width: auto;
}
.display-list .display-image {
  float: left;
  margin: 0 4.651% 0px 0;
  width: 30.23266666666667%;
}
.display-list .display-fields {
  float: left;
  width: 65.11633333333333%;
}
.display-list .field-name {
  font-size: 1.8em;
}
.display-list .display-item-no-image .display-image {
  display: none;
}
.display-list .display-item-no-image .display-fields {
  width: 100%;
}
.display-table img,
.product-buy-table img {
  max-width: 100px;
}
.display-dynamicgrid {
  -moz-column-count: 3;
  -moz-column-gap: 30px;
  -webkit-column-count: 3;
  -webkit-column-gap: 30px;
  column-count: 3;
  column-gap: 30px;
  width: 100%;
}
.display-dynamicgrid .display-item {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
/* Blog Styles    
///////////////////////////////////////////////////////////////////////////////// */
a.back-link {
  display: block;
  font-size: 75%;
  margin: 0 0 4.651%;
}
.posts-list .display-item {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 9.302%;
  padding-bottom: 9.302%;
}
.posts-list.display-grid {
  font-size: 85%;
}
.posts-list.display-grid .field-summary img {
  display: none;
}
.posts-list.display-grid .display-item {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 9.302%;
}
.posts-list.display-grid .field-name {
  padding-bottom: .1em;
  font-size: 2em;
}
.posts-list.display-grid .field-post-info {
  padding-bottom: .58em;
}
.posts-list.display-grid .field-date,
.posts-list.display-grid .field-author,
.posts-list.display-grid .field-location {
  display: block;
}
.posts-list.display-grid .field-summary h1,
.posts-list.display-grid .field-summary h2,
.posts-list.display-grid .field-summary h3,
.posts-list.display-grid .field-summary h4 {
  font-size: 1em;
}
.posts-list.display-grid .field-summary h1 small,
.posts-list.display-grid .field-summary h2 small,
.posts-list.display-grid .field-summary h3 small,
.posts-list.display-grid .field-summary h4 small {
  font-size: 1em;
}
.posts-list.display-grid .field-sharing {
  display: none;
}
.posts-list.display-simple {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posts-list.display-simple .display-item {
  margin: 0 0 .5em;
  padding: 0;
  border: none;
}
.posts-list .field-name {
  line-height: 1.125;
}
.posts-list .field-post-info {
  color: #999999;
  font-size: 85%;
}
.post-display-summary .field-info {
  padding-bottom: 8px;
}
.display-stack .field-body,
.post-detail-view .field-body,
.display-stack .field-summary,
.post-detail-view .field-summary {
  margin: 1em 0 0;
}
.display-stack .field-name,
.post-detail-view .field-name {
  font-size: 2.75em;
  line-height: 1;
}
.display-stack .field-post-info,
.post-detail-view .field-post-info {
  margin-bottom: 1em;
}
.post-title {
  padding-bottom: .28em;
}
/* sharing  */
.field-post-info,
.field-tags {
  color: #999999;
  font-size: 85%;
}
.field-tags {
  margin: 1em 0;
}
.addthis_toolbox.addthis_default_style.addthis_16x16_style {
  font-size: 16px!important;
}
.addthis_toolbox.addthis_default_style .at300b,
.addthis_toolbox.addthis_default_style .at300m {
  display: inline-block;
  float: left;
  padding: 2px;
}
.addthis_toolbox.addthis_default_style .at300b img {
  vertical-align: top;
  margin-top: 0px;
}
.addthis_toolbox.addthis_default_style .at300bs.at15t_compact {
  margin: 0!important;
}
.addthis_toolbox.addthis_default_style .at300m {
  width: 16px;
  height: 16px;
}
.addthis_toolbox.addthis_default_style .at300bs.at15t_compact {
  background: url("http://www.convergencecms.co/resources/images/c-icon-share.png") no-repeat 0 0;
  margin: 0!important;
}
/* comments */
.comments {
  border: 1px solid #cccccc;
  border-width: 1px 0 0;
  margin: 4.651% 0 0;
  padding: 0 0 4.651%;
}
.comments h4 {
  padding: 3.651% 0;
}
.comments .comment {
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
  padding: 0 4.651% 4.651%;
  margin: 0 0 4.651%;
}
.comment-meta p {
  color: #999999;
  font-size: .7em !important;
  font-weight: normal;
  line-height: 1.2 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.comment-meta p strong {
  color: #333;
  font-size: 1.3em !important;
  font-weight: normal;
}
form.form-comments {
  background: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  margin: 4.651% 0;
  padding: 2.25em;
  width: auto;
}
form.form-comments .form-comments-title {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  padding: 0 0 1em;
}
form.form-comments .form-comments-col1,
form.form-comments .form-comments-col2 {
  float: left;
}
form.form-comments .form-comments-col1 {
  width: 32%;
  margin-right: 3%;
}
form.form-comments .form-comments-col2 {
  width: 65%;
}
form.form-comments .control-group {
  float: none;
}
form.form-comments input[type="text"],
form.form-comments input[type="email"] {
  padding: 9px;
  height: 40px;
}
form.form-comments textarea {
  height: 126px;
  padding: 9px;
}
/* Calendar   
///////////////////////////////////////////////////////////////////////////////// */
.fc-header-title h2 {
  margin: 0;
  padding: 0;
}
/* Filtering   
///////////////////////////////////////////////////////////////////////////////// */
ul.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#datasearch-form select,
#datasearch-form input {
  width: 100%;
}
/* Forms  
 ///////////////////////////////////////////////////////////////////////////////// */
input,
select,
textarea {
  max-width: 300px;
}
textarea.form-control {
  min-height: 100px;
}
label.error,
.form-item-required-symbol {
  color: #ee0000 !important;
}
a.secondary-action {
  font-size: .7em;
}
.form-group h4,
.control-group h4 {
  padding: 2em 0 0;
}
.checkbox {
  padding-left: 10px;
}
.checkbox input[type="checkbox"] {
  margin-top: 8px;
  margin-left: -10px;
}
.alert {
  background: #ffd5d5;
  border: 1px solid #C00;
}
/* MENUS   
///////////////////////////////////////////////////////////////////////////////// */
ul.menu,
ul.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Photo Slideshows  
 ///////////////////////////////////////////////////////////////////////////////// */
/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 50px;
  background: #fff;
  position: relative;
  zoom: 1;
}
.slideshow-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .slideshow-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.slideshow-direction-nav {
  *height: 0;
}
.slideshow-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(http://www.convergencecms.info/resources/images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
}
.slideshow-direction-nav .slideshow-next {
  background-position: 100% 0;
}
.slideshow-direction-nav .slideshow-next {
  right: 15px;
  opacity: 0.5;
}
.slideshow-direction-nav .slideshow-prev {
  left: 15px;
  opacity: 0.5;
}
.flexslider:hover .slideshow-next:hover,
.flexslider:hover .slideshow-prev:hover {
  opacity: 1;
}
.slideshow-direction-nav .slideshow-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* Control Nav */
.slideshow-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.ie7 .slideshow-control-nav {
  bottom: 20px;
}
.slideshow-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.slideshow-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.slideshow-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.slideshow-control-paging li a.slideshow-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.slideshow-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.slideshow-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.slideshow-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.slideshow-control-thumbs img:hover {
  opacity: 1;
}
.slideshow-control-thumbs .slideshow-active {
  opacity: 1;
  cursor: default;
}
.slideshow-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: #FFFFFF;
  left: 0;
  line-height: 18px;
  padding: 2%;
  position: absolute;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  width: 96%;
}
/* fancybox fixes for longer image captions */
#fancybox-title-left,
#fancybox-title-right {
  display: none;
}
#fancybox-title-main {
  background: none;
  line-height: 20px;
  font-size: 15px;
}
#fancybox-overlay {
  opacity: .9!important;
}
#fancybox-title-wrap span {
  height: 5px;
}
/* Fancybox Lightbox fixes for bootstrap - accounts for border-box sizing */
#fancybox-wrap,
#fancybox-outer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Products   
///////////////////////////////////////////////////////////////////////////////// */
/* product listing */
.product-list .field-price {
  font-size: 1.3em;
}
.product-list.display-grid .field-price {
  color: #999999;
}
.product-list.display-list .field-rating {
  padding-bottom: 9px;
}
.product-list.display-list .field-price {
  padding-bottom: 6px;
}
.product-list.display-list .field-option {
  display: block;
  float: left;
  margin: 20px 10px 10px 0;
}
.product-list.display-list .field-quantity {
  margin: 20px 10px 10px 0;
}
.product-list .input-group {
  width: 35%;
}
.product-list .field.customfield,
.product-list .field-sku,
.product-list .field-weight,
.product-list .field-description {
  color: #999999;
  font-size: 80%;
}
.product-list .product-rating.product-no-ratings {
  display: none;
}
/* categories */
h3.subcategoryname {
  clear: both;
}
.sidemenu ul.category-product-menu ul.category-product-menu.c-menu-level2 li {
  padding: 0;
}
.subcategorylist {
  padding-bottom: 50px;
}
/* product detail page */
.product-review-stars-rated {
  height: 16px;
  margin: 2px 0;
}
.product-detail-price {
  padding-top: 0;
}
.product-compare-price {
  color: #999999;
  text-decoration: line-through;
}
.review-recommended-text {
  display: none;
}
.product-no-ratings {
  color: #999999;
}
.product-no-recommendations {
  color: #999999;
}
.product-option-error,
.product-itemlist-option-error {
  color: #ee0000;
}
.category-pagination {
  clear: both;
  text-align: center;
}
.pagination span,
.pagination a {
  margin: 0 5px;
}
.product-buy-off {
  background: #999999;
}
.product-out-of-stock {
  background: #999999;
  padding: 10px;
}
.product-detail h2 {
  padding: 0 0 0.5em;
}
.product-images img {
  display: none;
  max-width: 100%;
}
.product-images img.image-order-1 {
  display: block;
}
.product-images .flex-control-thumbs {
  margin: 0;
  padding: 0;
}
.product-images .flex-control-thumbs li {
  list-style: none;
  display: inline-block;
}
.product-images .flex-control-thumbs li:hover {
  cursor: pointer;
}
.product-images .flex-control-thumbs li img {
  width: auto;
  height: 64px;
}
.product-images .flex-direction-nav {
  display: none;
}
.product-custom-field {
  padding-bottom: 1em;
}
.product-custom-field p:last-child {
  padding-bottom: 0;
}
.product-custom-field .product-field-name {
  font-size: 1.12em;
  font-weight: bold;
}
.product-variant-table td {
  vertical-align: middle;
}
.product-variant-table td.product-col-qty .input-append {
  margin-bottom: 0;
}
.product-form input.product-form-quantity {
  float: left;
  width: 20%;
  margin-right: 5px;
}
/* BREADCRUMB   
///////////////////////////////////////////////////////////////////////////////// */
.breadcrumb {
  color: #999999;
  display: block;
  font-size: .8em;
  padding-bottom: .5em;
}
.breadcrumb a {
  color: #999999;
}
.breadcrumb a:hover {
  color: #191919;
  text-decoration: underline;
}
.breadcrumb-product .last-separator,
.breadcrumb-product .last-crumb {
  display: none;
}
/* SEARCH   
///////////////////////////////////////////////////////////////////////////////// */
.search-results-container p {
  padding: 0;
  margin: 0;
}
.search-results-container hr {
  margin: 25px 0;
}
.search-results {
  padding-bottom: 10px;
}
.search-results.product-list .search-results-title {
  padding-bottom: .56em;
}
.search-result-url {
  color: #999999;
}
.search-results-title {
  color: #cccccc;
  font-weight: normal;
}
.search-result {
  margin: 0 0 25px;
}
.search-result p,
.search-result h4,
.search-result .search-result-title {
  margin: 0;
  padding: 0;
}
/* SITEMAP   
///////////////////////////////////////////////////////////////////////////////// */
ul.menu-type-sitemap {
  margin-left: 0;
}
ul.menu-type-sitemap li ul {
  margin-left: 4.651%;
}
/* TEXT  
 ///////////////////////////////////////////////////////////////////////////////// */
ul,
ol {
  margin: 0 10% 1em;
}
hr {
  border-color: #cccccc;
  border-width: 1px 0 0;
}
/* used to float images in text - can be selected from within the text editor under "styles" */.imageleft img,
img.imageleft {
  float: left;
  height: auto;
  margin: 5px 25px 20px 0;
  padding-right: 25px;
  width: 300px;
  border-right: 1px solid #999;
}
.imageright img,
img.imageright {
  float: right;
  height: auto;
  margin: 5px 0 25px 20px;
  padding-left: 25px;
  width: 300px;
  border-left: 1px solid #CCC;
}
span#bithtml_parent {
  width: auto !important;
}
table#bithtml_tbl {
  width: 100% !important;
}
.txtcolorone,
table#menu_bithtml_bithtml_styleselect_menu_tbl tr#mce_4 a span {
  color: #000000 !important;
}
.txtcolortwo,
table#menu_bithtml_bithtml_styleselect_menu_tbl tr#mce_5 a span {
  color: #555555 !important;
}
.txtcolorthree,
table#menu_bithtml_bithtml_styleselect_menu_tbl tr#mce_6 a span {
  color: #aaaaaa !important;
}
/* auto color full calendar events based on tags: colorone,colortwo,colorthree */
.fc-tag-colorone.fc-event-skin,
.fc-tag-colorone .fc-event-skin {
  background: #000000 !important;
  border-color: #000000 !important;
}
.fc-tag-colortwo.fc-event-skin,
.fc-tag-colortwo .fc-event-skin {
  background: #555555 !important;
  border-color: #555555 !important;
}
.fc-tag-colorthree.fc-event-skin,
.fc-tag-colorthree .fc-event-skin {
  background: #aaaaaa !important;
  border-color: #aaaaaa !important;
}
/* TWITTER   
///////////////////////////////////////////////////////////////////////////////// */
ul.twitter-list {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
ul.twitter-list .tweet {
  padding-bottom: 1em;
  list-style: none;
}
/* USERS   
///////////////////////////////////////////////////////////////////////////////// */
.userlist.display-grid .field-name {
  font-size: 1.3em;
  margin-bottom: 4px;
}
.userlist.display-grid .field-slug,
.userlist.display-list .field-slug,
.userlist.display-grid .field-company,
.userlist.display-list .field-company,
.userlist.display-grid .field-email,
.userlist.display-list .field-email,
.userlist.display-grid .field-address,
.userlist.display-list .field-address,
.userlist.display-grid .field-address2,
.userlist.display-list .field-address2,
.userlist.display-grid .field-city-state-zip,
.userlist.display-list .field-city-state-zip,
.userlist.display-grid .field-country,
.userlist.display-list .field-country,
.userlist.display-grid .field-phone,
.userlist.display-list .field-phone {
  color: #999999;
  font-size: 85%;
}
.userlist .field-country,
.userlist .field-slug {
  display: none;
}
/* USER ACCOUNTS   
///////////////////////////////////////////////////////////////////////////////// */
.user-account-section table {
  border-width: 0px;
  width: 100%;
}
.user-itemlist .full-item li {
  margin: 0 0 10px;
}
.user-itemlist .full-item li .fieldname {
  color: #999999;
}
.user-personal address span,
.account-info address span {
  display: block;
}
.user-personal-image img {
  width: 100%;
}
.file-uploaded-box {
  width: 250px;
}
.file-uploaded-box img {
  width: 100%;
}
/* account table styles */
/* subscription upload color values */
table.account-subscription-list.modifying-subscription tr.not-this-row td {
  opacity: 0.3;
  background: #ddd;
}
table.account-subscription-list.modifying-subscription tr.this-row td {
  background: #ffffdd;
}
table.account-subscription-list.modifying-subscription tr.this-row a#save-modified-subscription {
  color: #338800;
  text-decoration: underline;
}
table.account-subscription-list.modifying-subscription tr.this-row a#undo-modified-subscription {
  color: #ee0000;
  text-decoration: underline;
}
table.account-subscription-list.modifying-subscription tr.this-row a#save-modified-subscription:hover,
table.account-subscription-list.modifying-subscription tr.this-row a#undo-modified-subscription:hover {
  text-decoration: none;
}
.user-itemlist h2.user-title,
.user-personal h2.user-title {
  line-height: 1;
  padding-bottom: 4.651%;
}
.user-itemlist .display-list .display-item,
.user-personal .display-list .display-item {
  margin-bottom: 4.651%;
  padding-bottom: 4.651%;
}
.user-itemlist .display-list .display-item .field-name,
.user-personal .display-list .display-item .field-name {
  padding-bottom: 15px;
}
.user-itemlist .display-list .display-item .field-view-edit-links,
.user-personal .display-list .display-item .field-view-edit-links {
  padding-top: 15px;
}
.user-personal .user-itemlist h3.user-title {
  padding-top: 0;
  line-height: 1;
}
/*  IE FIXES
 /////////////////////////////////////////////////////////  */
.ie8 img {
  max-width: none;
  width: 100%;
}
/* BOOTSTRAP Media Queries
================================================== */
/* Large devices (large desktops, 1200px and up - screen-lg) */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  /* sets large screen container width */
  /* .container {max-width:1200px; width:auto;} */
  .g0l-lg {
    padding-left: 0!important;
  }
  .g0r-lg {
    padding-right: 0!important;
  }
}
/* end media query*/
/* Medium to Large */
@media (max-width: 1199px) and (min-width: 993px) {
  .g0l-md {
    padding-left: 0!important;
  }
  .g0r-md {
    padding-right: 0!important;
  }
}
/* end media query*/
/* Medium devices (desktops, 993px and up - screen-md) */
@media (min-width: 993px) {
  /* sets container to 1024px - container and col padding will determine margin */
  .container {
    max-width: 1024px;
    width: auto;
  }
}
/* ipad and small screens - sm to md */
@media (max-width: 992px) and (min-width: 769px) {
  /*  customizes container width - card class lessens container width to allow for background */
  .container {
    max-width: 970px;
    width: auto;
  }
  .container.card {
    max-width: 93%;
    width: auto;
  }
  .product-images .flex-control-thumbs li img {
    height: 40px;
  }
  .g0l-sm {
    padding-left: 0!important;
  }
  .g0r-sm {
    padding-right: 0!important;
  }
}
/* end media query*/
/* Everything above breakdance - sm and up */
@media (min-width: 768px) {
  .g0l {
    padding-left: 0!important;
  }
  .g0r {
    padding-right: 0!important;
  }
}
/* end media query*/
/* breakdance query*/
@media only screen and (max-width: 767px) {
  /* card class lessens container width to allow for background */
  .container.card {
    max-width: 93%;
    width: auto;
  }
  /* resets container padding to 15px */
  .container {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  /* resets alpha/omega to 15px */
  .g0l {
    padding-left: 15px!important;
  }
  .g0r {
    padding-right: 15px!important;
  }
  /* resets columns to 15px */
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  header .navbar-collapse.in {
    overflow-y: visible;
  }
  .container .product-list.display-list .field-name {
    font-size: 1.3em;
  }
  .container .product-list .field-description {
    display: none;
  }
  .container form.form-comments {
    padding: 1.5em;
  }
  .container form.form-comments .form-comments-col1,
  .container form.form-comments .form-comments-col2 {
    float: none;
    width: 100%;
    margin: 0;
  }
  .container .search-result-url {
    display: none;
  }
  .display-dynamicgrid {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
  .display-dynamicgrid .display-item {
    margin-bottom: 10px;
  }
}
/* end media query*//* Landscape phones and down */
@media (max-width: 480px) {
  /* sets container background to 100% */
  .container.card {
    max-width: 100%;
    width: auto;
  }
  .container {
    /* grid goes to 2 per row */
  
    /* form comments inputs go 1 per row*/
  
  }
  .container .display-grid.display-gridcols-4 .display-item,
  .container .display-grid.display-gridcols-3 .display-item,
  .container .display-grid .display-item {
    width: 47.6745%;
    clear: none!important;
    margin-right: 4.651% !important;
  }
  .container .display-grid.display-gridcols-4 .display-item:nth-child(2n),
  .container .display-grid.display-gridcols-3 .display-item:nth-child(2n),
  .container .display-grid .display-item:nth-child(2n) {
    margin-right: 0!important;
  }
  .container .display-grid.display-gridcols-4 .display-item:nth-child(2n+1),
  .container .display-grid.display-gridcols-3 .display-item:nth-child(2n+1),
  .container .display-grid .display-item:nth-child(2n+1) {
    clear: both!important;
  }
  .container form.form-comments {
    padding: 1em;
  }
  .container .account-transaction-shipping,
  .container .account-transaction-billing {
    display: none;
  }
  .display-event-calendar {
    font-size: 0.7em;
  }
  .imageleft img,
  img.imageleft,
  .imageright img,
  img.imageright {
    float: none;
    height: auto;
    margin: 0 0 25px;
    padding: 0px;
    width: 100%;
    border: none;
  }
}
/* end media query*/@media only screen and (max-width: 349px) {
  .container {
    /* grid goes to 1 per row */
  }
  .container .display-grid.display-gridcols-4 .display-item,
  .container .display-grid.display-gridcols-3 .display-item,
  .container .display-grid.display-gridcols-2 .display-item,
  .container .display-grid .display-item {
    width: 100%;
    margin-right: 0!important;
    clear: both!important;
  }
}
/* end media query*/